@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Besley:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Alumni+Sans+Collegiate+One:ital@0;1&family=Besley:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@import 'header';

@import 'footer';

@import 'responsive';

* {
    margin: 0;
    padding: 0;

    overflow-x: hidden;


}



main {
    background-image: url('./assets/zachary-kadolph-hwHHq82Enf0-unsplash\ \(1\)\ 1.png');
    height: 886px;
    background-color: black;
}

.description_card {
    padding: 50px;
    width: 485px;
}

.description_title {
    color: white;
    font-family: 'Besley';

}

h2 span {
    color: #FF0000;
}

.description_text {
    color: white;
    font-family: 'ABeeZee', 'serif';
    font-size: 19px;
    padding-top: 18px;
}


.description_button {
    padding-top: 40px;
    width: 100%;




}

.register_btn {
    background-color: #363636;
    margin-left: 25px;
}

.picture_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    overflow: hidden;
}

.picture_grid img {
    width: 100%;
}

.bottom_section {
    background-color: black;
    display: flex;
    gap: 250px;

}

.form {
    color: white;
    width: 700px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 50px;


}

.form h1 {
    font-family: "Alumni Sans Collegiate One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;

}

.input_group {
    display: flex;
    width: 100%;
    align-items: center;
}

input::placeholder {
    text-align: center;

}

.form_group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 30vw;

}

.form label {
    font-family: 'ABeeZee';
    padding-bottom: 5px;
}

.form input {
    background-color: #1B1B1B;
    border: none;
    height: 38px;


}

.bottom_section button {
    margin-left: 12px;
}



